.lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
    stroke-width: 2;
}

.lnr-cart {
    width: 1.5em;
    height: 1.5em;
}

.lnr-magnifier {
    color: #000000;   
}

.navbar-nav li {
    margin-right: 3em;
}

section {
    margin-top: 40px;
}

.h {
    text-align: center;
}

.card-body {
    align-content: center;
}

footer {
    margin-top: 60px;
    padding: 5em;
}

.meist-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.meist-info{
    width: 100%;
    margin: 30px;
}

#carouselExampleIndicators img {
    object-fit: fill;
    max-width: 900px;
    max-height: 500px;
}

.meist {
    padding-left: 30px;
}

@media only screen and (min-width: 950px) { 
    .meist-container {
        flex-wrap: flex wrap;
    }

    .meist-info {
        width: 40%;
    }
}